/*
#menu {
  float: left;
  width: 24%;
}
#data {
  margin-left: 25%;
}
*/

#form_table { /* Таблица с элементами формы */
  width: 100%;
  font-size: 14px;
  font-weight: normal;
}
#control_col { /* Столбец с элементами ввода формы */
  text-align: right;
}

#input_form { /* Заголовок формы */
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #000000;
}

div.left { /* Левая колонка */
  float: left; /* Обтекание справа */
  width: 24%; /* Ширина колонки */
}
div.right { /* Правая колонка */
  margin-left: 25%; /* Отступ слева */
}

/*tr.command_out td {
  border-width: thin;
  border-bottom: 1px solid #000000;
}*/

table.command_out tr:nth-child(odd) {background: #CCC}
